@media screen and (max-width: 767px) {
    *{
        margin: 0;
        padding: 0;
    }

    .wrapper {
        margin-top: 0;
    }

    .header-img {
        display: none;
    }

    .heading {
        margin-bottom: 12px;
        font-size: 32px;
    }

    .header-margin {
        margin-bottom: 32px;
    }

    .header-button {
        padding: 5px 10px;
    }

    .navigation {
        justify-content: space-between;
        max-width: 280px;
        margin-bottom: 36px;
        margin-left: auto;
        margin-right: auto;
    }

    .first-block{ 
        min-height: 360px;
    }

    .cards {
        display: none;
    }

    body {
        text-align: center;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    *{
        margin: 0;
        padding: 0;
    }

    .illustration {
        max-width: 393px;
        max-height: 333px;
    }

    .cards {
        display: none;
    }
}