@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;

}

.navigation {
    margin-top: 34px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-block {
    margin-top: 100px;
    height: 686px;
    display: flex;
    justify-content: space-around;
}

.heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
}

.smallText {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.header-margin {
    margin-bottom: 71px;
}

.wrapper {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.header-button {
    left: 114px;
    top: 522px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    text-decoration: none;
    padding: 15px 50px;
    color: #FFFFFF;
}

.illustration .header-img {
    max-width: 648px;
    max-height: 549px;
}